USE [master]
GO
/****** Object:  Database [CinemaGG]    Script Date: 20.12.2023 2:24:24 ******/
CREATE DATABASE [CinemaGG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaGG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.GGEZ\MSSQL\DATA\CinemaGG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaGG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.GGEZ\MSSQL\DATA\CinemaGG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaGG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaGG]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 20.12.2023 2:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](255) NULL,
	[MovieCategory] [nvarchar](25) NULL,
	[PosterPriview] [image] NULL,
	[Description] [nvarchar](255) NULL,
	[Prodolzitelnost] [nvarchar](25) NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HALL]    Script Date: 20.12.2023 2:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HALL](
	[ID_HALL] [int] IDENTITY(1,1) NOT NULL,
	[HALL_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_HALL] PRIMARY KEY CLUSTERED 
(
	[ID_HALL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 20.12.2023 2:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[ID_POSITION] [int] IDENTITY(1,1) NOT NULL,
	[ID_HALL_P] [varchar](50) NOT NULL,
	[ROW_NAME] [varchar](50) NULL,
	[PLACE_NUMBER] [varchar](50) NULL,
	[STATUS_P] [varchar](400) NULL,
 CONSTRAINT [PK_POSITION] PRIMARY KEY CLUSTERED 
(
	[ID_POSITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEANS]    Script Date: 20.12.2023 2:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEANS](
	[ID_SESSION] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie_filma] [varchar](50) NOT NULL,
	[ID_HALL_S] [varchar](50) NOT NULL,
	[DATA_S] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
 CONSTRAINT [PK_SESSION_FILM] PRIMARY KEY CLUSTERED 
(
	[ID_SESSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 20.12.2023 2:24:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[ID_TICKET] [int] NOT NULL,
	[ID_SESSION_T] [int] NOT NULL,
	[ID_POSITION_T] [int] NOT NULL,
	[PRICE_T] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.12.2023 2:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](32) NULL,
	[Password] [nvarchar](32) NULL,
	[Role] [nvarchar](12) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([Id], [MovieName], [MovieCategory], [PosterPriview], [Description], [Prodolzitelnost]) VALUES (2, N'Безмуный ден', N'Безумный', 0x53797374656D2E427974655B5D, N'Безумный ден', N'1:30')
INSERT [dbo].[Film] ([Id], [MovieName], [MovieCategory], [PosterPriview], [Description], [Prodolzitelnost]) VALUES (3, N'Безмуный ден 2', N'Безумнее', NULL, N'Безумный ден', N'1:30')
INSERT [dbo].[Film] ([Id], [MovieName], [MovieCategory], [PosterPriview], [Description], [Prodolzitelnost]) VALUES (4, N'Безмуный ден', N'Безумный', 0x53797374656D2E427974655B5D, N'Безумный ден', N'1:30')
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[HALL] ON 

INSERT [dbo].[HALL] ([ID_HALL], [HALL_NAME]) VALUES (1, N'PUPKIN')
INSERT [dbo].[HALL] ([ID_HALL], [HALL_NAME]) VALUES (2, N'SANDWICH')
SET IDENTITY_INSERT [dbo].[HALL] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([ID_POSITION], [ID_HALL_P], [ROW_NAME], [PLACE_NUMBER], [STATUS_P]) VALUES (1, N'1', N'1', N'1', N'free')
INSERT [dbo].[POSITION] ([ID_POSITION], [ID_HALL_P], [ROW_NAME], [PLACE_NUMBER], [STATUS_P]) VALUES (2, N'1', N'1', N'2', N'free')
INSERT [dbo].[POSITION] ([ID_POSITION], [ID_HALL_P], [ROW_NAME], [PLACE_NUMBER], [STATUS_P]) VALUES (3, N'1', N'1', N'3', N'free')
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
SET IDENTITY_INSERT [dbo].[SEANS] ON 

INSERT [dbo].[SEANS] ([ID_SESSION], [Nazvanie_filma], [ID_HALL_S], [DATA_S], [Price]) VALUES (5, N'Безмуный ден', N'1', N'9/11', N'250')
INSERT [dbo].[SEANS] ([ID_SESSION], [Nazvanie_filma], [ID_HALL_S], [DATA_S], [Price]) VALUES (7, N'Безмуный ден 2', N'1', N'12-15', N'300')
SET IDENTITY_INSERT [dbo].[SEANS] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Username], [Password], [Role]) VALUES (1, N'Admin', N'Admin', N'Админ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
